<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t(".ruby_on_rails_tutorial"), t(".link_to_home") %>
  <%= t ".is_a" %>
  <%= link_to t(".book"), t(".link_to_book") %>
  <%= t ".and" %>
  <%= link_to t(".screencast"), t(".link_to_screencast") %>
  <%= t ".to_teach" %>
  <%= link_to t(".ruby_on_rails"), t(".link_to_home") %>.
  <%= t ".this_is_the_sample_app" %>
</p>
