<footer class="footer">
  <small>
    <%= t ".the" %>
    <%= link_to t(".ruby_on_rails_tutorial"), t(".link_to_home") %>
    <%= t ".by" %>
    <%= link_to t(".michael_hartl"), t(".link_to_michael") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), t(".link_to_news") %></li>
    </ul>
  </nav>
</footer>
